<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DayOfTimers.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AC933E801EE88D2100B47ED8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AC933E941EE88D2300B47ED8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AC933E9F1EE88D2300B47ED8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
